<odoo>
    <!-- Top menu  -->
  <menuitem name="Inmobiliaria" id="main_inmobiliaria_menu" groups="group_inmobiliaria_manager"/>

  <!-- Menu  -->
  <menuitem name="Menu" id="inmobiliaria_menu" groups="group_inmobiliaria_manager" parent="main_inmobiliaria_menu"/>

  <!-- SubMenu -->
  <menuitem name="Empresa" id="empresa_menu" parent="inmobiliaria_menu" groups="group_inmobiliaria_manager" action="empresa_list_action"/>
  <menuitem name="Trabajador" id="trabajador_menu" parent="inmobiliaria_menu" groups="group_inmobiliaria_manager" action="trabajador_list_action"/>
  <menuitem name="Cliente" id="cliente_menu" parent="inmobiliaria_menu" groups="group_inmobiliaria_manager" action="cliente_list_action"/>
  <menuitem name="Propietario" id="propietario_menu" parent="inmobiliaria_menu" groups="group_inmobiliaria_manager" action="propietario_list_action"/>
  <menuitem name="Propiedad" id="propiedad_menu" parent="inmobiliaria_menu" groups="group_inmobiliaria_manager" action="propiedad_list_action"/>
  <menuitem name="Venta" id="venta_menu" parent="inmobiliaria_menu" groups="group_inmobiliaria_manager" action="venta_list_action"/>
  <menuitem name="Compra" id="compra_menu" parent="inmobiliaria_menu" groups="group_inmobiliaria_manager" action="compra_list_action"/>
  <menuitem name="Alquiler" id="alquiler_menu" parent="inmobiliaria_menu" groups="group_inmobiliaria_manager" action="alquiler_list_action"/>
  <menuitem name="Puja" id="puja_menu" parent="inmobiliaria_menu" groups="group_inmobiliaria_manager" action="puja_list_action"/>
  <menuitem name="Subasta" id="subasta_menu" parent="inmobiliaria_menu" groups="group_inmobiliaria_manager" action="subasta_list_action"/>
  <menuitem name="Seguro" id="seguro_menu" parent="inmobiliaria_menu" groups="group_inmobiliaria_manager" action="seguro_list_action"/>
  <menuitem name="Tipo" id="tipo_menu" parent="inmobiliaria_menu" groups="group_inmobiliaria_manager" action="tipo_list_action"/>
  <menuitem name="Visita" id="visita_menu" parent="inmobiliaria_menu" groups="group_inmobiliaria_manager" action="visita_list_action"/>
  <menuitem name="Alquiler OWL" id="alquiler_menu_owl" parent="inmobiliaria_menu" groups="group_inmobiliaria_manager" action="action_E3Componente_js"/>
</odoo>